.products{
    &__title{
        text-align: center;
    }


    &__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;

        &__item{
            display: flex;
            width: 50%;
            justify-content: center;
            text-align: center;


            @include desktop{
                width: 33.3%;   
            }

            a{
                color: inherit;
                text-decoration: none;
            }

            &__image{
                width: 128px;
                height: 128px;
                background: none;
           }

            &__name{
                display: flex;
                flex-direction: row;

                h5{
                    &:nth-child(1){
                        margin-right: 0.5em;
                    }


                    &:nth-child(2){
                        color: red;
                    }                }            }        }
    }
}
